html{

}
​
header{
  background-color: blue;
  font-family: "Roboto";
  color: grey;
}

th{
  background-color: blue;
}

table, th, td{
  border: 1px solid black;
  padding: 5px;
}
#Submit1{
  border-radius: 5%;
  background-color: blue;
  color: white;
  align-items: center;
  right margin-left: 60%;
}

footer{
  background-color: blue;
  width: 100%;
}
